{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<body>


		<div class="sidenav">
			<div class="login-main-text">
				<h2>Page d'inscription</h2>
				<p>Remplissez la forme pour créer un compte.</p>
			</div>
		</div>
		<div class="main">
			<div class="col-md-6 colcm-12">
				<div class="register-form">
					<h1>Register</h1>
					<br><br>
					{{ form_start(registrationForm) }}

					<div class="form-group">{{ form_label(registrationForm.nomUtilisateur) }}
						<div class="form-control ">{{ form_widget(registrationForm.nomUtilisateur) }}</div>
					</div>

					<br>

					<br>
					<div class="form-group">{{ form_label(registrationForm.dateDeNaissance) }}
						<div class="form-control">{{ form_widget(registrationForm.dateDeNaissance) }}</div>
					</div>


					<br>
					<div class="form-group">{{ form_label(registrationForm.email) }}
						<div class="form-control">{{ form_widget(registrationForm.email) }}</div>
					</div>

					<br>
					<div class="form-group">{{ form_label(registrationForm.plainPassword) }}
						<div class="form-control">{{ form_widget(registrationForm.plainPassword, {
            label: 'Password'
        }) }}</div>
					</div>

					<br>
					
					<div class="form-group">
						<label for="registration_form_agreeTerms">Aceepter les conditions</label>
						{{ form_widget(registrationForm.agreeTerms) }}</div>


					<br><br>
					<button type="submit" class="btn btn-dark">Soumettre</button>
					<br><br><br><br>

					{{ form_end(registrationForm) }}
				</div>
			</div>
		</body>

	{% endblock %}

