{% extends 'base.html.twig' %}

{% block title %}Publication index
{% endblock %}

{% block body %}


<!-- begin profile-content -->
<div
	class="profile-content">
	<!-- begin tab-content -->
	<div
		class="tab-content p-0">
		<!-- begin #profile-post tab -->
		<div
			class="tab-pane fade active show" id="profile-post">
			<!-- begin timeline -->
			<ul class="timeline">
				{% for publication in publications %}
					<li>
						<!-- begin timeline-time -->
						<div class="timeline-time">
							<span class="time">{{ publication.dateModification ? publication.dateModification|date('Y-m-d H:i') : '' }}</span>
						</div>
						<!-- end timeline-time -->
						<!-- begin timeline-icon -->
						<div class="timeline-icon">
							<a href="javascript:;">&nbsp;</a>
						</div>
						<!-- end timeline-icon -->
						<!-- begin timeline-body -->
						<div class="timeline-body">
							<div class="timeline-header">
								<span class="userimage"><img src="/avatar.jpg" alt=""></span>
								<span class="username">
									<a href="javascript:;">{{publication.ownerName}}</a>
									<small></small>
								</span>
							</div>
							<div class="timeline-content">
								<p>{{ publication.contenu }}</p>
							</div>
							<div class="timeline-likes">
								<div class="stats-right">
									<span class="stats-text">{{publication.commentaires|length}} Comments</span>
								</div>
								<div class="stats">

									<span class="fa-stack fa-fw stats-icon">
										
										<i class="far fa-smile fa-fw fa-lg m-r-3" ></i>
									</span>
									<span class="stats-total">0</span>
								</div>
							</div>
							<div class="timeline-footer">
								<a href="javascript:;" class="m-r-15 text-inverse-lighter">
									<i class="far fa-smile fa-fw fa-lg m-r-3"></i>
									smile</a>
							</div>
							<div class="timeline-comment-box">
								<div class="user"><img src="/avatar.jpg"></div>
								<div class="input">
									<form action="">
										<div class="input-group">
											<input type="text" class="form-control rounded-corner" placeholder="Write a comment...">
											<span class="input-group-btn p-l-10">
												<button class="btn btn-primary f-s-12 rounded-corner" type="button">Comment</button>
											</span>
										</div>
									</form>
								</div>
							</div>
						</div>
						<!-- end timeline-body -->
					</li>
                {% endfor %}
			</ul>

			

        </div>
    </div>
</div>
			{# <a href="{{ path('publication_new') }}">Create new</a> #}
{% endblock %}
